.resume {
	display: flex;
	flex-direction: column;
}

img {
	width: 150px;
}

h2 {
	text-align: center;
	font-family: 'Caveat', cursive;
}

.top {
	display: grid;
	grid-template-columns: 150px auto 150px;
}

.years {
	display: flex;
	flex-shrink: 0;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	font-size: 3rem;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

.edu,
.work,
.awards {
	display: grid;
	grid-template-columns: 1fr;
}

.eduYear,
.jobYear {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

#college,
.jobTitle,
.cert {
	font-size: 1.2rem;
	font-weight: 600;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
}

.nav {
	display: flex;
	justify-content: right;
	clear: both;
	right: 2%;
	gap: 5px;
}
