.resume {
	display: flex;
	align-items: baseline;
	flex-direction: column;
}

.job,
.awards {
	display: flex;
	align-items: baseline;
}

#current,
#prior,
#older,
#college,
.cert {
	font-weight: bold;
	font-size: larger;
	margin-right: 20px;
}

#years {
	flex-shrink: 0;
}

.top {
	display: flex;
	align-items: center;
	width: 100%;
}

div > img {
	height: 150px;
	margin: 5px;
}

.name {
	margin: 0 auto;
	font-weight: 800;
	font-size: 2.5rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 500px) {
	.top {
		align-content: center;
		column-gap: 30px;
	}
	.picture {
		width: auto;
	}
	.name {
		font-size: 2rem;
	}
	#edu {
		margin-top: 50px;
	}
}

.nav {
	display: flex;
	justify-content: right;
	clear: both;
	right: 2%;
	gap: 5px;
}
